<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container col-12 sm-auto" style="background-color: royalblue;">
       
    <h1>Cursos mais acessíveis</h1>
    <p>A Faculdade mais acessível do Brasil!!!</p>
</div>

<section>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/imagens/direito.jpg" class="card-img-top" width="300" height="300"/>
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Direito</h2>
                        </div>
                        <div class="card-text">
                            O Direito é a ciência que cuida da aplicação e do cumprimento das normas jurídicas de um país para organizar e manter um bom relacionamento interpessoal entre os grupos e indivíduos da sociedade
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/imagens/engenheiro.jpg" class="card-img-top" width="300" height="300"/>
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Engenharia Civil</h2>
                        </div>
                        <div class="card-text">
                            Se você é bom em calculos e gosta de construir casas, prédios e reformas, esse é o curso que você está necessitando
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/imagens/historia.png" class="card-img-top" width="300" height="300" /> 
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Historia</h2>
                        </div>
                        <div class="card-text">
                            Aborda a história tanto por períodos (pré-história, história antiga, medieval ou contemporânea) quanto por regiões, como Brasil, Europa ou Ásia.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/imagens/medicina.jpg" class="card-img-top" width="300" height="300" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Medicina</h2>
                        </div>
                        <div class="card-text">
                            O curso de Medicina tem como principal objetivo a restauração e a manutenção da saúde, investindo no tratamento e na prevenção de doenças. Além disso, oferece conhecimentos para que o aluno possa promover a saúde e o bem-estar dos indivíduos, desde a infância até a maturidade.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2 mb-2">
                    <img src="assets/imagens/quimica.jpeg" class="card-img-top" width="300" height="300" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Quimica</h2>
                        </div>
                        <div class="card-text">
                            O estudante terá um intenso contato com  disciplinas como Física, Matemática e Química (Matéria e Energia, Modelos Atômicos, Química Orgânica. É um curso dinâmico, que mistura atividades teóricas e práticas em laboratórios. 
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>











<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    

